.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.search-form {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 96);
    height: 30px;
}
body {
    margin: 0;
}
button {
    border: 3px solid;
    background-color: blue;
    border-radius: 10%;

}

.photo-card {
    border: 1px solid black;
    padding: 5px;
    
}
.load-more {
    width: 80px;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-item {
    color: black;
    
}
a {
    text-decoration: none;
}